
Pi_Epione/.project
Pi_Epione/.settings/org.eclipse.core.resources.prefs
Pi_Epione/.settings/org.eclipse.m2e.core.prefs
Pi_Epione/Pi_Epione-ear/.project
Pi_Epione/Pi_Epione-ear/.settings/org.eclipse.core.resources.prefs
Pi_Epione/Pi_Epione-ear/.settings/org.eclipse.m2e.core.prefs
Pi_Epione/Pi_Epione-ear/.settings/org.eclipse.wst.common.component
Pi_Epione/Pi_Epione-ear/.settings/org.eclipse.wst.common.project.facet.core.xml
Pi_Epione/Pi_Epione-ear/.settings/org.eclipse.wst.validation.prefs
Pi_Epione/Pi_Epione-ear/target/m2e-wtp/ear-resources/META-INF/application.xml
Pi_Epione/Pi_Epione-ear/target/m2e-wtp/ear-resources/META-INF/MANIFEST.MF
Pi_Epione/Pi_Epione-ear/target/m2e-wtp/ear-resources/META-INF/maven/tn.esprit.twin.experts/Pi_Epione-ear/pom.properties
Pi_Epione/Pi_Epione-ear/target/m2e-wtp/ear-resources/META-INF/maven/tn.esprit.twin.experts/Pi_Epione-ear/pom.xml
Pi_Epione/Pi_Epione-ejb/.classpath
Pi_Epione/Pi_Epione-ejb/.project
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.core.resources.prefs
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.jdt.core.prefs
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.jpt.core.prefs
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.m2e.core.prefs
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.wst.common.component
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.wst.common.project.facet.core.xml
Pi_Epione/Pi_Epione-ejb/.settings/org.eclipse.wst.validation.prefs
Pi_Epione/Pi_Epione-ejb/.settings/org.hibernate.eclipse.console.prefs
Pi_Epione/Pi_Epione-ejb/target/classes/META-INF/MANIFEST.MF
Pi_Epione/Pi_Epione-ejb/target/classes/META-INF/maven/tn.esprit.twin.experts/Pi_Epione-ejb/pom.properties
Pi_Epione/Pi_Epione-ejb/target/classes/META-INF/maven/tn.esprit.twin.experts/Pi_Epione-ejb/pom.xml
Pi_Epione/Pi_Epione-ejb/target/classes/META-INF/persistence.xml
Pi_Epione/Pi_Epione-web/.classpath
Pi_Epione/Pi_Epione-web/.project
Pi_Epione/Pi_Epione-web/.settings/.jsdtscope
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.core.resources.prefs
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.jdt.core.prefs
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.m2e.core.prefs
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.wst.common.component
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.wst.common.project.facet.core.xml
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
Pi_Epione/Pi_Epione-web/.settings/org.eclipse.wst.validation.prefs
Pi_Epione/Pi_Epione-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
Pi_Epione/Pi_Epione-web/target/m2e-wtp/web-resources/META-INF/maven/tn.esprit.twin.experts/Pi_Epione-web/pom.properties
Pi_Epione/Pi_Epione-web/target/m2e-wtp/web-resources/META-INF/maven/tn.esprit.twin.experts/Pi_Epione-web/pom.xml
